.contentBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid rgba(black, 0.35);
  overflow: hidden;
  box-shadow: 0.25em 0.5em 1em rgba(black, 0.15);
}

.foreignObject {
  overflow: visible;
}


[data-rank="0"] {
  background: #e94747;
}

[data-rank="1"] {
  background: #e9a347;
}

[data-rank="2"] {
  background: #e6e947;
}

[data-rank="3"] {
  background: #cbe947;
}

[data-rank="4"] {
  background: #7ae947;
}
